*.py[cod]
*.log
*.sql
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*~
.mypy_cache/
.dmypy.json
dmypy.json
*.pot
*.mo
*.so
*.com
*.exe
*.dll
*.lib
*.a
*.o
*.lo
*.la
*.pyd
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
*.py,cover
.idea/
.vscode/
.spyderproject
.spyproject
.ropeproject
/.venv
venv/
ENV/
env.bak/
venv.bak/
.vscode/
*.sage.py
.env
data/
backup/
terraform/